.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__p2IWo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__p2IWo {
    width: 100%;
  }
}
.plan__mgnW3:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__uELnO {
  font-size: 48px;
}
.freeBox__brtOe {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__brtOe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__brtOe > :global(.__wab_flex-container) > *,
.freeBox__brtOe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__brtOe > :global(.__wab_flex-container) > picture > img,
.freeBox__brtOe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__xveeb:global(.__wab_instance) {
  position: relative;
}
.bullet__jXtz2:global(.__wab_instance) {
  position: relative;
}
.bullet___69Ng9:global(.__wab_instance) {
  position: relative;
}
.button__f4PAu:global(.__wab_instance) {
  position: relative;
}
.svg__y1Vfl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__htTZl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__xOzpp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xOzpp {
    width: 100%;
  }
}
.plan__j9St9:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__pdX53 {
  font-size: 48px;
}
.freeBox__mgoWc {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__mgoWc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mgoWc > :global(.__wab_flex-container) > *,
.freeBox__mgoWc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mgoWc > :global(.__wab_flex-container) > picture > img,
.freeBox__mgoWc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__xHqqk:global(.__wab_instance) {
  position: relative;
}
.bullet__ktiu8:global(.__wab_instance) {
  position: relative;
}
.bullet__bvEg3:global(.__wab_instance) {
  position: relative;
}
.bullet__vHzhC:global(.__wab_instance) {
  position: relative;
}
.button___7VrV5:global(.__wab_instance) {
  position: relative;
}
.svg__whgoj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zyBoq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__lMnPq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lMnPq {
    width: 100%;
  }
}
.plan__kTfvZ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__wySk5 {
  font-size: 48px;
}
.freeBox__cITtS {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__cITtS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cITtS > :global(.__wab_flex-container) > *,
.freeBox__cITtS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cITtS > :global(.__wab_flex-container) > picture > img,
.freeBox__cITtS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__cTxr9:global(.__wab_instance) {
  position: relative;
}
.bullet__vdTp7:global(.__wab_instance) {
  position: relative;
}
.bullet__dkMml:global(.__wab_instance) {
  position: relative;
}
.button__wfeuT:global(.__wab_instance) {
  position: relative;
}
.svg__hgufq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__my6Lb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___3HZk2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3HZk2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___3HZk2 > :global(.__wab_flex-container) > *,
.freeBox___3HZk2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3HZk2 > :global(.__wab_flex-container) > picture > img,
.freeBox___3HZk2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__o0Lh:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq___0DFky:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
