.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__vMlZd {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: Gf4ZIqROG9Sa */;
}
.freeBox__atYL {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: ullYtTNilaJm */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__atYL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__atYL > :global(.__wab_flex-container) > *,
.freeBox__atYL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__atYL > :global(.__wab_flex-container) > picture > img,
.freeBox__atYL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__atYL {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__atYL > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__atYL > :global(.__wab_flex-container) > *,
  .freeBox__atYL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__atYL > :global(.__wab_flex-container) > picture > img,
  .freeBox__atYL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ydXb6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__ydXb6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ydXb6 > :global(.__wab_flex-container) > *,
.freeBox__ydXb6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ydXb6 > :global(.__wab_flex-container) > picture > img,
.freeBox__ydXb6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__k6Aiv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__pVujJ {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox__nQy8S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__fNmVn {
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__fNmVn:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.text__b9O5S {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
}
.link__ftYrD {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__ftYrD:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__vBp4T {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__vBp4T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__vBp4T > :global(.__wab_flex-container) > *,
.freeBox__vBp4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vBp4T > :global(.__wab_flex-container) > picture > img,
.freeBox__vBp4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vBp4T {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vBp4T > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vBp4T > :global(.__wab_flex-container) > *,
  .freeBox__vBp4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vBp4T > :global(.__wab_flex-container) > picture > img,
  .freeBox__vBp4T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__fFkX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__fFkX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fFkX > :global(.__wab_flex-container) > *,
.freeBox__fFkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fFkX > :global(.__wab_flex-container) > picture > img,
.freeBox__fFkX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xeEfx {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__bpqC {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
}
.root .link__bpqC:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___3UoIu {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link___3UoIu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__nbujH {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__nbujH:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__yP6Xl {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__yP6Xl:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__v7HcB {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__v7HcB:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__sa5TQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__sa5TQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sa5TQ > :global(.__wab_flex-container) > *,
.freeBox__sa5TQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sa5TQ > :global(.__wab_flex-container) > picture > img,
.freeBox__sa5TQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__rPXwR {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__clcMt {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__clcMt:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__gnqnK {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__gnqnK:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__baU2V {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__baU2V:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dIkUr {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__dIkUr:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__s4Res {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__s4Res:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__v9TLr {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__v9TLr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__v9TLr > :global(.__wab_flex-container) > *,
.freeBox__v9TLr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v9TLr > :global(.__wab_flex-container) > picture > img,
.freeBox__v9TLr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uVn8E {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__dt9Dv {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__dt9Dv:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__jbCli {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__jbCli:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__eHj7L {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__eHj7L:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__fLq6W {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__fLq6W:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___03E4D {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link___03E4D:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__k9Tz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__k9Tz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__k9Tz > :global(.__wab_flex-container) > *,
.freeBox__k9Tz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k9Tz > :global(.__wab_flex-container) > picture > img,
.freeBox__k9Tz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uUprQ {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__l3Xm4 {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__eq1VS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__swIsy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  width: 1em;
  height: 1em;
}
.svg__cLqRa {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.svg__riPkt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__qUu7J {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: Gf4ZIqROG9Sa */;
}
.freeBox___8NgUu {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: ullYtTNilaJm */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___8NgUu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8NgUu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8NgUu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8NgUu > :global(.__wab_flex-container) > *,
  .freeBox___8NgUu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8NgUu > :global(.__wab_flex-container) > picture > img,
  .freeBox___8NgUu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__cdoB4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__todu2 {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  height: auto;
  font-size: 14px;
}
.root .link__todu2:hover {
  text-decoration-line: underline;
}
.link__xrIk {
  position: relative;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
  font-size: 14px;
}
.root .link__xrIk:hover {
  text-decoration-line: underline;
}
.text__fx6Sy {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: qhXfcyEZ5G6T */;
}
.freeBox__j1O59 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__j1O59 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__j1O59 > :global(.__wab_flex-container) > *,
.freeBox__j1O59 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j1O59 > :global(.__wab_flex-container) > picture > img,
.freeBox__j1O59
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__dCfah:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yRTcZ {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__yRTcZ:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__u2TvQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___7FPrU {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___7FPrU:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__xwPhl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___88Dnd {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___88Dnd:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
